dill==0.2.1
Flask==0.10.1
gunicorn==19.3.0
Jinja2==2.7.2
oauth==1.0.1
oauthlib==0.7.2
requests>=2.2.1
simplejson==3.15.0
pandas==0.18.1
bokeh==0.11.1
pygal==2.4.0
pytrends==4.4.0
numpy==1.14.0
scikit-learn==0.19.1
scipy==1.0.0
pygal-maps-world==1.0.2
