<!DOCTYPE html>
<html>
<head>
	<title>
		Main App
	</title>
	<!--<link rel="stylesheet" type="text/css" href="CSS/main.css" />-->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

</head>
<body>
	<div style="width: 500px; horizontal; margin: 0 auto;">
			<span style="vertical-align:middle; vertical-align:middle; margin: auto">
				<span style = "font-size: 70px; vertical-align:middle; margin: auto" >Cyber  </span>
			</span>
			<span style="vertical-align:middle; margin: auto">
				<img src="{{url_for('static', filename='image/CyberTrackLogo.png' )}}" alt="Snow" style="width:50px; vertical-align:middle; margin: auto" >
			</span>
			<span style="vertical-align:middle; vertical-align:middle; margin: auto">
				<span style = "font-size: 70px; vertical-align:middle; margin: auto" >   Track</span>
			</span>
	</div>
	<div class="topnav">
		<a href= / >Home</a>
		<a href= /worldGraph/ >World Forcast</a>
		<a href= /customGraph/ >Custom Prediction</a>
	</div>
	<div>
		{% block content %}
	   	{% endblock %}	
	</div>
</body>
</html>
